.bookstore-homepage {
    display: flex;
    flex-direction: column;
}

.bookstore-navbar {
    display: flex;
    flex-direction: column;
}

.navbar-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.book-list-entry {
    padding: 5px;
    margin: 3px;
    border: 2px solid;
    border-radius: 5px;
    border-color: #1f2025;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-list-entry:hover {
    border-color: #40424e;
}

.book-list-entry-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icon {
    height: 1rem;
    width: 1rem;
}